{% extends 'layout.html' %} <!--This extends layout so you don't repeat core code-->

{% block body %}
<div class="csspage">
    <div class="intro">
        <h1>CSS Reference</h1>
        <h2>Quick Links</h2>
        <div class="row">
            <ul>
                <li>Text</li>
                <li>Images</li>
                <li>Colour and Backgrounds</li>
                <li>Transform</li>
            </ul>
            <ul>
                <li>Flex Box</li>
                <li>CSS Grid</li>
                <li>Animations</li>
                <li>Responsive pages</li>
            </ul>
        </div>


    </div>
    <h1>Text</h1>
    




    

</div>





{% endblock %}