{% extends 'layout.html' %} <!--This extends layout so you don't repeat core code-->

{% block body %}

<div class="homepage">
    <h1>Welcome to my CSS Reference Site</h1>
    <p>I built this site because I'm terribe at remembering CSS syntax.</p>
    <p>I also decided why not learn how to use flask to render templates, so I did that too. Check out github for the code.</p>
    <p><b>Please Note: </b>This site isn't responsive, so it won't work well on mobiles or smaller screens. To look at examples of responsive sites I have built, please check out my github.</p>
    <p>If you want to look at more things I've built, <a href="https://github.com/hannvm" target="blank">click here for my github</a>, or <a href="https://www.linkedin.com/in/hannah-minshull-51a722159/" target="blank">here to get in touch on linkedin.</a> Thank you!</p>
</div>




{% endblock %}

