<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Reference Site</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<!--This file exists so that each template doesn't have to repeat core html tags-->
<body>
    {% include 'includes/_navbar.html' %}
    {% block body %}

        
    {% endblock %}
    </div>

</body>
</html>