@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,400&display=swap');

* {
    margin : 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Bar Stylings */
nav {
    height: 100px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 20px;
}

nav li {
    margin: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.navtitle {
    padding: 20px;
}

nav a, .navtitle {
    font-family: 'Courier New', Courier, monospace
}

/* Main Content // General Styles */

.pagecontainer {
    margin: 60px;
    color: #333;
}

p a:hover {
    text-decoration: underline;
    color: rgb(18, 18, 156);
}

/* Home Page */

.homepage{
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 200px;
}

.homepage h1 {
    font-size: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.homepage p {
    padding-top: 20px;
    text-align: center;
}


/* CSS Page */
.intro {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px;
    margin-left: 0;
    font-size: 40px;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style: square;
    list-style-position: inside;
    margin-left: 40px;
}

.header_row {
    display: flex;
}

.rulesbox {
    margin-top: 80px;
}
.rulesbox h2 {
    margin-top: 35px;
}

.rulesbox p {
    margin-top: 15px;
}

.rulesbox span, .highlight {
    font-weight: 700;
}

.indent {
    margin-left: 25px;
}
.indenttwo {
    margin-left: 50px;
}

.note {
    color: purple;
    text-indent: 20px;
}

.examplebox {
    margin-top: 30px;
    width: 600px;
    height: 400px;
    background-color: rgb(191, 220, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginex {
    width: 550px;
    height: 350px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.borderex {
    width: 500px;
    height: 300px;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paddingex {
    width: 450px;
    height: 250px;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentex {
    width: 400px;
    height: 200px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bmodel {
    position: relative;
    bottom: 10px;
}

.style {
    background-color: lightskyblue;
}

.displayex {
    height: fit-content;
    width: 600px;
    border: 1px solid #333;
    padding: 10px;
}

span.inline {
    display: inline;
    background-color: hotpink;
}

span.inline-block {
    display: inline-block;
    height: 75px;
    width: 100px;
    background-color: hotpink;
}

span.block {
    display: block;
    height: 75px;
    width: 100px;
    background-color: hotpink;
}

.float {
    border: 1px solid #333;
}

.float .floatone {
    float: left;
}










